div{
    color:#0F1419;
    font-family: "roboto", sans-serif;
    width: 591px;
    height: 161px;
    height: 97px;
    left: 425px;
    margin-bottom: 50px;

}

.parent{
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    gap:20;
    margin-left: 20px;
} 